
body{
font-family:Arial;
margin:40px;
}

input{
margin:5px;
padding:5px;
}

.bw {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  width: 50%;
  margin-left: 100px;
}

.right {
  width: 50%;
/*margin-left: 50px;*/
  border: 1px solid #ccc;  /* 枠線 */
  padding: 15px;           /* 内側の余白 */
  border-radius: 8px;      /* 角丸 */
}

.right h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.right a {
  margin-bottom: 0;
  font-weight: bold;
  text-decoration: none;
  color: #2a5db0;
}

.right ul {
  padding-left: 20px;
  margin: 0;
}

.right li {
  margin-bottom: 10px;
}

.right li p {
  margin: 2px 0 0;   /* ←これが効く */
  font-size: 0.9em;
  color: #555;
  line-height: 1.3;
}
