.breadcrumb {
  font-size: 14px;
  margin: 10px 0 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #0073e6;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #555;
  font-weight: bold;
}