#rectInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
  width: 200px;
}

#circleInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}

#pipeInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}

#hbeamInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}
