#A_val, #Ix_val, #Zx_val {
  display: inline-block;
  width: 200px;   /* 好きな幅に調整 */
  text-align: right;
  border: 1px solid #333;   /* ←枠 */
  padding: 5px;             /* ←余白 */
  margin-left: 10px;
}

#A_unit, #Ix_unit, #Zx_unit {
  display: inline-block;
  width: 40px;   /* 好きな幅に調整 */
  text-align: left;
  text-size: 40px;
}

#rectInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}

#circleInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}

#pipeInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}

#hbeamInputs {
  min-height: 200px; /* ←最大パターンに合わせる */
}
